<div id="cart_list_empty_template">
    <div id="crumbs" class="crumbs">
        <ul>
            <li><a href="#home/index1"><span>首页</span></a></li>
            <li><a href="javascript:;">我的购物车</a></li>
        </ul>
    </div>
    <div class="shopping_empty tips_view mitu_01">
        <div class="tips_msg">
            <h3>购物车还是空的</h3>
            <p>现在就去选购吧</p>
        </div>
        <div class="tips_btn"><a href="#product/category" class="button disable_button">去逛逛</a></div>
    </div>
</div>
