<div id="add_template">
    <div id="crumbs" class="crumbs">
        <ul>
            <li><a href="#home/index1"><span>首页</span></a></li>
            <li><a href="#account/index">我的帐户</a></li>
            <li><a href="#address/list">收货地址</a></li>
            <li><a href="javascript:;">新增地址</a></li>
        </ul>
    </div>
    <div class="address_add mlr20 mt-20">
        <div class="box box_01">
            <div class="title">
                <h3>收货人姓名</h3>
            </div>
            <div class="input">
                <input type="text" placeholder="请填写真实姓名" id="consignee" maxlength="15">
            </div>
        </div>
        <div class="box box_02">
            <div class="title">
                <h3>收货地址</h3>
            </div>
            <div class="box_02_01 h_box">
                <div class="flex_1" style="display: none">
                    <div data-type="select" class="select">
                        <select id="country_id">
                            <option value="1">中国</option>
                        </select>
                    </div>
                </div>
                <div class="flex_1">
                    <div data-type="select" class="select">
                        <div data-value="01" class="option"></div>
                        <select id="province_id">
                            <option value="0">请选择省</option>
                        </select>
                    </div>
                </div>
                <div class="flex_1">
                    <div data-type="select" class="select">
                        <div data-value="01" class="option"></div>
                        <select id="city_id">
                            <option value="0">请选择市</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="box_02_02">
                <div data-type="select" class="select">
                    <div data-value="01" class="option"></div>
                    <select id="district_id">
                        <option value="0">请选择区</option>
                    </select>
                </div>
            </div>
            <div class="box_02_03">
                <div class="textarea">
                    <textarea placeholder="路名或街道地址，门牌号，不少于10个字" id="address" maxlength="120"></textarea>
                </div>
                <div class="error_tips" style="display: none">
                    <p>错误提示信息</p>
                </div>
            </div>
        </div>
        <div class="box box_03">
            <div class="title">
                <h3>邮政编码</h3>
            </div>
            <div class="input">
                <input placeholder="邮政编码,为6位数字" id="zipcode" type="tel" maxlength="6" >
            </div>
            <div class="error_tips" style="display: none">
                <p>错误提示信息</p>
            </div>
        </div>
        <div class="box box_04">
            <div class="title">
                <h3>手机号码</h3>
            </div>
            <div class="input">
                <input placeholder="联系人电话，11位数字"  id="tel" type="tel" maxlength="11">
            </div>
        </div>
        <div class="box box_05"><a id="AddressAddBtn" href="javascript:;" class="button active_button">确认完成</a></div>
    </div>
</div>
