<div id="category_template">
    <div id="crumbs" class="crumbs">
        <ul>
            <li><a href="#home/index1"><span>首页</span></a></li>
            <li><a href="javascript:;">分类浏览</a></li>
        </ul>
    </div>
    <div class="product_category mt-20">
        <div class="list_category list_column list_tmp">
            <ul>
                <li>
                    <div class="category items">
                        <a href="#product/list/-1">
                            <div class="imgurl"><img src="http://p.www.xiaomi.com/m/app/images/category/20130114/-1.jpg?1234"></div>
                            <p class="name">小米手机</p>
                        </a>
                    </div>
                </li>
                {{each(index) categroies}}
                <li>
                    <div class="category items">
                        <a href="#product/list/${cate_id}">
                            <div class="imgurl">
                                <img src="http://p.www.xiaomi.com/m/app/images/category/20130114/${cate_id}.jpg?20130422"/>
                            </div>
                            <p class="name">${cate_name}</p>
                        </a>
                    </div>
                </li>
                {{/each}}
            </ul>
        </div>
    </div>
</div>
