<div id="phone_list_template">
    <div id="crumbs" class="crumbs">
        <ul>
            <li><a href="index.html#/home/index1"><span>首页</span></a></li>
            <li><a href="index.html#/product/category">分类浏览</a></li>
            <li><a href="javascript:;">小米手机</a></li>
        </ul>
    </div>
    <div class="product_product mt-20">
        <div class="list_product list_column list_tmp">
            <ul>
                <li>
                    <div class="product items is_cos">
                        <a href="#ac=xiaomi&op=mi2s">
                            <div class="imgurl"><img src="http://p.www.xiaomi.com/m/images/0308/2s180.jpg"></div>
                            <div class="info">
                                <p class="name">小米手机2S</p>
                                <div class="price_info">
                                    <span class="price">&yen;1999起</span>
                                </div>
                            </div>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="product items is_cos">
                        <a href="#ac=xiaomi&op=mi2a">
                            <div class="imgurl"><img src="http://p.www.xiaomi.com/m/images/0308/2a180.jpg"></div>
                            <div class="info">
                                <p class="name">小米手机2A</p>
                                <div class="price_info">
                                    <span class="price">&yen;1499</span>
                                </div>
                            </div>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="product items is_cos">
                        <a href="#ac=xiaomi&op=mi2">
                            <div class="imgurl"><img src="http://p.www.xiaomi.com/mobile/images/1211231/mi2.jpg"></div>
                            <div class="info">
                                <p class="name">小米手机2</p>
                                <div class="price_info">
                                    <span class="price">&yen;1949起</span>
                                </div>
                            </div>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="product items is_cos">
                        <a href="#ac=xiaomi&op=Mi1s">
                            <div class="imgurl"><img src="http://p.www.xiaomi.com/mobile/images/1211231/mi1s.jpg"></div>
                            <div class="info">
                                <p class="name">小米手机1S</p>
                                <div class="price_info">
                                    <span class="price">&yen;1499</span>
                                </div>
                            </div>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="product items is_cos">
                        <a href="#ac=xiaomi&op=Mi1sy">
                            <div class="imgurl"><img src="http://p.www.xiaomi.com/mobile/images/1211231/mi1sy.jpg"></div>
                            <div class="info">
                                <p class="name">小米手机1S青春版</p>
                                <div class="price_info">
                                    <span class="price">&yen;1299</span>
                                </div>
                            </div>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
